<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <div class="main-container">
      <h1>Create An Account</h1>
      <p>
        Create your account to join or build a team, pitch your ideas, and
        collaborate with changemakers accros UC.
      </p>
      <form action="" method="post">
        {{ form.hidden_tag() }}

        <div>{{ form.name.label }} {{ form.name }}</div>

        <div>{{ form.email.label }} {{ form.email }}</div>

        <div>{{ form.password.label }} {{ form.password }}</div>

        <div>{{ form.college.label }} {{ form.college }}</div>

        <div>{{ form.skills.label }} {{ form.skills }}</div>

        <div>{{ form.submit }}</div>
      </form>
      <p>Already Have An Account? <a href="/login">Sign In</a></p>
    </div>
  </body>
</html>
