<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="side-bar">
    <h1>UCoLab</h1>
    <div>Dashboard</div>
    <div>Explore</div>
    <div>My Projects</div>
    <div>Profile</div>
    <div>Settings</div>
  </div>
  <div class="top-bar">Welcome Joe</div>
  <div class="project-options">
    <div id="start-project">
      <h1>Start a Project</h1>
      <p>Create and post your idea</p>
      <button>Create</button>
    </div>
    <div id="explore">
      <h1>Explore Project</h1>
      <p>Explore Project Ideast</p>
      <button>Explore</button>
    </div>
    <div id="retake">
      <h1>Retake Smart Quiz</h1>
      <p>Update Skills and preferences</p>
      <button>Retake</button>
    </div>
  </div>
  <div class="main"></div>
</body>
</html>