<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session Master</title>
    <link href="/static/main.css" rel="stylesheet" />
  </head>
  <body>
    {% if not form_submitted %}
      <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.email }}<br /><br />
        {{ form.password }}<br /><br />
        {{ form.submit }}
      </form>
    {% else %}
      <h1 id="session_code">Session Code: {{ session_code }}</h1>
      <a href="/master/match">
        <button>Start Matching</button>
      </a>
    {% endif %}
  </body>
</html>
