<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="../static/backgroundprop.css">
  <link href="/static/mode-select.css" rel="stylesheet" />

  <title>UCoLab Matching</title>
</head>

<body>
  <div class="svg-container"><img src="../static/background.svg" alt="" /></div>

  <div class="matching-container">
    <div class="query-container">
      <h1>Choose a Matching Mode</h1>
      <div class="match-select">
        <div class="type-container">
          <div class="type-label">
            <h2>
              Join with a <br>Code
            </h2>
          </div>
          <div class="type-detail">
            <p>
              Real-time matchmaking for classes, hackathons, or incubator
              events.
            </p>
          </div>
          <form method="POST" action="/mode-select">
            <div class="code-entry">
              <div class="code-submit">
                <input type="text" id="code" name="code" placeholder="Enter Code:" />
                <input type="submit" value="Join Room ->" id="codeSubmit" />
              </div>
            </div>
          </form>
        </div>
        <div class="type-container">
          <div class="type-label">
            <h2>Explore <br>Open-Matching</h2>
          </div>
          <div class="type-detail">
            <p>
              Asynchronous, algorithmic matching for users not in a live
              session.
            </p>
          </div>
          <div class="random-submit">
            <input type="submit" value="Start Smart Quiz ->" id="randomSubmit" />
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="../static/script.js"></script>

</body>

</html>