.svg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  overflow: hidden;
  z-index: -1;
}

.svg-container img {
  width: 35%;
  height: auto;
  transition: transform 0.1s ease-out;
  will-change: transform;
  pointer-events: none; 
  position: absolute;
  top: 0;
  left: -5%;
  user-select: none;
  -webkit-user-drag: none;
}