:root {
    --primary-bg: #121126;
    --secondary-bg: rgba(0, 0, 0, 0.5);
    --text-color: rgb(255, 255, 255);
    --accent-color: #0F161E;
    --border-radius-sm: 10px;
    --border-radius-md: 20px;
    --border-radius-lg: 40px;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 3rem;
}


body{
    background-color: var(--primary-bg);
    overflow: hidden;
}

.featured{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.featured-items{
    background-color: var(--secondary-bg);
    width: 50%;
    height:  80%;
    border: 1px solid white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    padding: 2rem;
}

img {
  width: 80%;
  height: auto;
  display: block;
}
