@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: poppins;
    color: white;
}

*{
    /* border: 1px solid red;    */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

html {
    background-color: #121126;
}

.top-bar{
  display: flex;
  width: 90%;
  height: 15%;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.2);
  border-radius: 16px;
  border: 1px solid white;
  padding: 1rem;
  align-items: center;
}

.top-bar img{
  height: 90%;
}

 .top-bar h1{
  text-align: center;
  width:6%;
  height: fit-content;
  padding: 1rem;
  font-weight: 300;
  font-size: 250%;
  border-radius: 100%;
  color: black;
  background-color: aliceblue;
  aspect-ratio: 1/1;
}

.tabs-container{
  width: 90%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.tabs-container button{
  background-color: transparent;
  font-size: 2rem;
  font-weight: 400;
  width: fit-content;
  outline: none;
  border: none;
}

.tab1 , .tab2, .tab3{
  width: 90%;
}

.tab1{
  justify-items: center;
}

.tab1 h1,.tab2 h1, .tab3 h1{
  font-size: 4rem;
  line-height: 0;
}

.tab1 p, .tab3 p, .tab2 p{
  font-size: 1.5rem;
  font-weight: 200;
}

.project-search{
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 15%;
  border-radius: 16px;
  border: solid white 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project-search input, .project-search button{
  height: fit-content;
  padding: 1rem;
  border-radius: 16px;
  font-size: 1.4rem;
}

.project-search input{
  width: 85%;
    color: black;
}

.project-search button{
  width: 10%;
  background-color: black;
}

.projects{
  width: 100%;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-card{
  background-color: rgba(0,0,0,0.2);
  width: 32.5%;
  height: fit-content;
  padding: 2rem;
  border-radius: 16px;
  border: 1px solid white;
}
.type{
  background-color: aliceblue;
  color: #121126;
  padding: 0.6rem;
  border-radius: 40px;
  width: fit-content;
}

.project-card .project-card-description{
  font-size: 1.2rem;
}

.card-top{
  border-bottom: 1px solid white;
}

.roles{
  width: fit-content;
  padding: 0.2rem;
  border-radius: 40px;
  border: 1px solid white;
  font-size: 0.4rem;
}

.details{
  border-radius: 40px;
  background-color: black;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.message{
  border-radius: 40px;
  background-color: white;
  font-size: 1.2rem;
  padding: 0.2rem;
  color: black;
  outline: none;
  border: none;
  margin-left: 0.4rem;
}

.hidden {
  display: none !important;
}

.project-creation{
  display: flex;
  gap: 1rem;
}

.project-creation input{
  background-color: transparent;
  outline: none;
  color: white;  
}

.project-creation input::placeholder {
  color: white;
}

.project-type-select{
  color: black;
  padding: 0.2rem;
  border-radius: 40px;
}

.left-side{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 70%;
}

.name-and-description, .roles-needed, .roles-card, .project-lead, .project-details{
  background-color: rgba(0,0,0,0.2);
  border: 1px solid white;
  border-radius: 16px;
}

.name-and-description{
  padding: 2rem;
  height: 50%;
  width: 100%;
  height: 100%;
}

.name-and-description-head{
  display: flex;
  justify-content: space-between;
}

.name-and-description-head input{
  font-size: 3rem;
  font-weight: 500;
    border: none;
}

.name-and-description-head select{
  height: fit-content;
}

.description-holder{
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  background-color: transparent;
  border: none;
  outline: none;
  max-width: 100%;
  color: white;
}

textarea::placeholder{
  color: rgb(195, 195, 195);
  font-size: 1rem;
}

.roles-needed{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.roles-needed h1{
  font-size: 3rem;
  font-weight: 500;
}

.roles-needed button{
  width: 6.5%;
  height: 80%;
  font-size: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100px;
  color:gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roles-card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 0rem;
}
.role-title-input{
  font-size: 2rem;
  font-weight: 500;
    border: none;
}

.skill-input{
  font-size: 1rem;
  border-radius: 40px;
  padding: 1rem;
  border: 1px solid white;
}

.roles-card button{
  border-radius: 16px;
  outline: none;
  border: none;
  padding: 1rem;
  color: #121126;
  font-weight: 500;
}

.right-side{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-lead{
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.project-lead input{
  border: none;
  font-size: 1rem;
}

.project-lead h1{
  font-size: 3rem;
  font-weight: 500;
}

.project-details{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-details h1{
  font-size: 3rem;
  font-weight: 500;
}

.project-details input{
  border: none;
  font-size: 1rem;

}

.details-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create-project-button{
  border-radius: 16px;
  background-color: black;
  padding: 2rem;
  font-size: 1.5rem;
}