@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html{
    background-color: #121126;
}

*{
    box-sizing: border-box;
}

textarea {
    margin-top: 2.5vh;
    width: 50%;
    height: 100vh;
    font-family: monospace;
    font-size: 16px;
    border-radius: 16px;
    border: none;
    padding: 5em;
    box-shadow: -1px 1px 5px #888888;
    outline: none;
}

#debug {
    font-family: monospace;
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 10px;
    width: 90%;
    white-space: pre-wrap;
}

.editor-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.header{
    position: sticky;
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(#707070FF, #00000000); 
    box-shadow: 1px 1px 5px black;; 
    border: 1px solid white;
    top: 1vh;
    z-index: 2;
    border-radius: 16px;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

.members{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    line-height: 0.5rem;
    gap: 0.2rem;
}

.members p{
    line-height: 0.2rem;
}
/* im watching you */
    font-size: 5rem;
    color: white;
}

#cursors {
    position: absolute;
    top: 0;
    left: 25%;
    pointer-events: none;
    z-index: 1000;
}