/* @font-face {
    font-family: Poppins;
    src: url(/static/fonts/Poppins-Regular.ttf) format('truetype');
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



h1,
h2,
h3,
p {
    font-family: Poppins, sans-serif;
    color: rgb(13, 41, 31);
}

.matching-container {
    width: 40%;
    height: 60%;
    margin: 10% auto;
    background-color: #f9f9f9;
    text-align: center;
    padding: 2rem;
}

.matching-container h1 {
    font-size: 3.8rem;
    font-weight: bolder;
}

.query-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.type-container {
    width: 20rem;
    height: 20rem;
    background-color: #e7e7e7;
    margin: 1rem;
    text-align: left;
    padding: 2rem;
    border-radius: 40px;
}

.type-container h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.type-label {
    word-wrap: break-word;
}

input {
    border-radius: 40px;
    outline: none;
    border: none;
    height: 2.5rem;
}

#codeInput {
    background-color: rgba(0, 0, 0, 0);

}

#codeSubmit,
#randomSubmit {
    background-color: #0F161E;
    color: white;
}

.code-submit {
    width: 17rem;
    border-radius: 40px;
    background-color: white;
}

.top-bar {
    height: 100%;
    padding: 2rem;
    background-color: #e7e7e7;
    border-radius: 20px;
    margin: 0.5rem;
}

.details {
    display: flex;
    flex-direction: row;
    height: 56rem;
}

.participants,
.participant-form {
    border-radius: 20px;
    padding: 2rem;
    margin: 0.5rem;
}

.participants {
    background-color: #e7e7e7;
    flex: 0.5;
}

.participant-header {
    display: flex;
    flex-direction: row;
}

.participant-header h2 {
    flex: 0.6;
}

.users {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    overflow-y: scroll;
    height: 80%;
    padding: 2rem;
}

.player {
    width: 5rem;
    height: 5rem;
    text-align: center;
}


.pfp {
    height: 40px;
    width: 40px;
    background-color: #0F161E;
    border-radius: 100%;
    margin: 0 auto;
}


.participant-header p {
    background-color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 20px;
    width: 100%;
    flex: 0.4;
    text-align: center;
}

.participant-form {
    background-color: #e7e7e7;
    border-radius: 20px;
    flex: 1;
    margin: 0.5rem;
}

#participantName {
    width: 60%;
    padding: 0.5rem;
    border-radius: 10px;
}

#College {
    width: 61%;
    height: 5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}

#attributes {
    width: 60%;
    padding: 0.5rem;
    border-radius: 10px;
}


.bottom-bar {
    height: 100%;
    padding: 2rem;
    background-color: #e7e7e7;
    border-radius: 20px;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

.bottom-bar button {
    background-color: #0F161E;
    color: white;
    border-radius: 20px;
    outline: none;
    height: 100%;
    width: 100%;
}

.bottom-message {
    flex: 0.80;
    font-size: 1.5rem;
}

.bottom-button {
    flex: 0.20;
}


.bottom-button button {
    font-size: 1.5rem;
}

/* waduhyawbduawbjdnhawbd  */


.middle-container{
    margin: 0.5rem;
    text-align: center;
    height: 55rem;
}

.results {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    text-align: center;
    height: 55rem;
}


.question h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    padding-left: 3%;
}

.option {
    text-align: left;
    width: 45%;
    background-color: #e7e7e7;
    border-radius: 20px;
    padding: 2rem;
}

.option:hover {
  transform: translateY(-2px);
    transform: rotate(2deg);
    transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option.selected {
    background-color: #e7f0ff;
    border: solid 1px  #007bff
}

#loading-message, #question-text{
    font-size: 2.5rem;
    font-weight: normal;
}


.card {
    background: #f1f1f1;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
}
.card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}
