@font-face {
    font-family: Poppins;
    src: url(/static/fonts/Poppins-Regular.ttf) format('truetype');
}

h1, h2, h3, p{
    font-family: Poppins, sans-serif;
    color: rgb(13, 41, 31);
}

.matching-container{
    width: 40%;
    height: 60%;
    margin: 10% auto;
    background-color: #f9f9f9;
    text-align: center;
    padding: 2rem;
}

.matching-container h1{
    font-size: 3.8rem;
    font-weight: bolder;
}

.query-container{
    display: flex;
    flex-direction:row ;
    justify-content: center;
}

.type-container{
    width: 20rem;
    height: 20rem;
    background-color: #e7e7e7;
    margin: 1rem;
    text-align: left;
    padding: 2rem;
    border-radius: 40px;
}

.type-container h2{
    font-size: 2rem;
    font-weight: bolder;
}   

.type-label{
    word-wrap: break-word ;
}

input{
    border-radius: 40px;
    outline: none;
    border: none;
    height: 2.5rem;
}

#codeInput{
    background-color: rgba(0, 0, 0, 0);
    
}

#codeSubmit, #randomSubmit{
    background-color: #0F161E;
    color: white;
}

.code-submit{
    width: 17rem;
    border-radius: 40px;
    background-color: white;
}

/* H E L P E R */


.top-bar{
    width: auto;
    height: 100%;
    padding: 2rem;
    background-color: #e7e7e7;
    border-radius: 20px;
    margin: 0.5rem;
}

.details{
    display: flex;
    flex-direction: row;
}

.participants, .participant-form{
    border-radius: 20px;
    padding: 2rem;
    margin: 0.5rem;
}

.participants{
    background-color: #e7e7e7;
    flex: 0.5;
}

.participant-header{
    display: flex;
    flex-direction: row;
}

.participant-header h2{
    flex: 0.6;
}

.participant-header p{
    background-color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 20px;
    width: 100%;
    flex: 0.4;
    text-align: center;
}

.participant-form{
    background-color: #e7e7e7;
    border-radius: 20px;
    flex:1;
}

.bottom-bar{
    height: 100%;
    padding: 2rem;
    background-color: #e7e7e7;
    border-radius: 20px;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

.bottom-bar button{
    background-color: #0F161E;
    color: white;
    border-radius: 20px;
    outline: none;
    height: 100%;
    width: 100%;
}

.bottom-message{
    flex: 0.80 ;
    font-size: 1.2rem;
}

.bottom-button{
    flex: 0.20;
}

