<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Session Code: {{ session_code }}</h1>
  <h2>Participants: <span id="participant-count">0</span></h2>

  <script>
    function fetchParticipantCount() {
      fetch('/participant_count')
        .then(res => res.json())
        .then(data => {
          document.getElementById('participant-count').textContent = data.count;
        });
    }

    setInterval(fetchParticipantCount, 2000);
    fetchParticipantCount();
  </script>
</body>
</html>