<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match</title>
    <link href="/static/main.css" rel="stylesheet" />
</head>

<body>
    <div>
        <div class="top-bar">
            <h1>Room #: I124Q</h1>
        </div>
        <div class="details">
            <div class="participants">
                <div class="participant-header">
                    <h2>Participants</h2>
                    <p>x users joined</p>
                </div>

                <div class="users">
                    <div class="player">
                        <div class="pfp"></div>
                        <p>Johann Liwag</p>
                    </div>
                </div>
            </div>
            <div class="participant-form">
                <h1>Details</h1>
                <p>Enter your name</p>
                <input type="text" id="participantName" placeholder="Your Name" />
                <p>What College are you part of?</p>
                <select name="college" id="college">
                    <option value="CITCS">College of Information Technology and Computer Science</option>
                    <option value="CON">College of Nursing</option>
                    <option value="CEA">College of Engineering</option>
                    <option value="CBA">College of Business Administration</option>
                    <option value="CAS">College of Art and Sciences</option>
                    <option value="COA">College of Accountancy</option>
                    <option value="CHTM">College of Hospitality Tourism Management</option>
                    <option value="CCJE">College of Criminal Justice Education</option>
                    <option value="CTE">College of Teacher Education</option>
                </select>
                <p>What are your skills</p>
                <input type="text" placeholder="Search Skills" id="attributes">
            </div>
        </div>
        <div class="bottom-bar">
            <div class="bottom-message">
                <p>Waiting for host to start matchmaking...</p>
            </div>
            <div class="bottom-button">
                <button class="Start" id="lock-in">Start Matchmaking</button>
            </div>
        </div>
    </div>
    <script>
        const lockInButton = document.getElementById('lock-in');

        lockInButton.onclick = async () => {
            const name = document.getElementById('participantName').value;
            const attribute = document.getElementById('attributes').value;
            const dropdown = document.getElementById('college');
            const college = dropdown.options[dropdown.selectedIndex].text;

            const response = await fetch('http://192.168.0.226:5000/submit-user-details', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ name: name, college: college, attribute: attribute })
            });

            const result = await response.json();
            console.log(result);

            if (result.success) {
                const response2 = await fetch('http://192.168.0.226:5000/show-participants');
                const result2 = await response2.json();

                const participants = result2.participants;

                const participantContainer = document.getElementById('participants');
                participantContainer.innerHTML = '';

                Object.values(participants).forEach(participant => {
                    const div = document.createElement('div');
                    div.classList.add('users');
                    div.innerHTML = `
                        <div class="player">
                            <div class="pfp"></div>
                            <p>${participant.name}</p>
                        </div>
                    `;
                    participantContainer.appendChild(div);
                    console.log("moment")
                });
            }
        };
    </script>
</body>

</html>