<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="centered-container">
        <h2>Join a Room!</h2>
        <form action="/" method="post">
        <input type="text" id="sessionID" name="sessionID" class="input-field" required placeholder="Enter Session ID">
        <input type="submit" value="Submit" class="submit-button">
    </form>
    </div>
</body>
</html>