<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="centered-container">
        <h2>Join a Room!</h2>
        <form method="POST" action="/submit_code">
            <input type="hidden" name="name" value="{{ name }}">
            <label for="sessionID">Enter Session Code:</label>
            <input type="text" id="sessionID" name="sessionID" required>
            <button type="submit">Join Session</button>
        </form>
    </div>
</body>
</html>