<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore Projects</title>
    <link rel="stylesheet" href="../static/projects.css" />
    <link rel="stylesheet" href="../static/backgroundprop.css" />
    <link rel="icon" href="../static/logo.svg" />
  </head>
  <body>
    <div class="svg-container">
      <img src="../static/background.svg" alt="" />
    </div>

    <div class="top-bar">
      <img src="../static/logo.svg" alt="">
      <h1>H</h1>
    </div>
    <div class="tabs-container">
      <button class="tab1">Find Projects</button>
      <button class="tab2">My Projects</button>
      <button class="tab3">Create Project</button>
    </div>

    <div class="tab1">
      <h1>Find Your Next Project</h1>
      <p>Discover academic research, startup opportunities, and collaborative projects.</p>
      <div class="project-search">
        <input type="text" id="searchbar" placeholder="Search projects, skills or keywords...">
        <button>Filter</button>
      </div>
      <div class="projects">
        
      </div>
    </div>

    <div class="tab2">

    </div>

    <div class="tab3">


    </div>


    <script src="../static/script.js"></script>

    <script>
      const popup = document.getElementById('popupForm')
      const blurTarget = document.getElementById('blurTarget')
      
      document.getElementById('openPopup').onclick = () => {
        popup.style.display = 'flex'
        blurTarget.classList.add('blur')
      }
      
      function closePopup() {
        popup.style.display = 'none'
        blurTarget.classList.remove('blur')
      }
      
      function submitProject() {
        const payload = {
          name: document.getElementById('name').value,
          description: document.getElementById('description').value,
          owner: document.getElementById('owner').value,
          needs: document.getElementById('needs').value,
          image_url: document.getElementById('image_url').value
        }
      
        fetch('/projects', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(payload)
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.success) {
              window.location.reload()
            } else {
              alert('Failed to add project: ' + data.error)
            }
          })
      }
    </script>
  </body>
</html>
